body, html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 512px;
    width: 512px;
}

.container div{
    height: 16px;
    width: 16px;
    margin: 0px;
    padding: 0px;
}

.painted-div{
    background-color: black;
}